.header {
  @media(min-width: 768px){
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}

.sobre {
  margin-top: 50px !important;
}

.sobre h1 {
  margin-bottom: 50px !important;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about h2 {
  margin-bottom: 20px;
}

.about p {
  font-size: 20px;
  margin-bottom: 20px;
}

.skills {
  margin-top: 100px !important;
}

.skills h1 {
  margin-bottom: 50px !important;
}

.portafolio h1{
    margin-top: 40px;
}
